<h1>About</h1>
<p>
  A small family run business based in Ballyhay just outside Donaghadee,
  at Laurel Cottage we aim to bring you the best of Northern Ireland Publishing,
  with both the acclaimed range of titles we've published ourselves and a host of books we distribute
  for other well known Northern Ireland Publishers including well known names such as the
  Ulster Historical Foundation, Ulster Architectural Historical Society, TSO NI etc.
</p>

<p>
  Many of our own books feature the work of artists from all over Ireland who we asked
  to capture scenes from their home areas and from this body of work we have available in addition
  to our books, a wide range of prints featuring places from all over Ireland as well as a number from rural England.
</p>

<p>
  So please take your time and have a good look round, spend a bit of time browsing beautiful images or reading extracts
  from fine books and of course if there's anything you need to ask, drop us a line at info@cottage-publications.com
</p>
