<h1>Contact Us</h1>

<h3>You can contact us as follows:</h3>
<h4>Postal address</h4>
<p>Laurel Cottage Ltd., 15 Ballyhay Road, Donaghadee, Co. Down, Northern Ireland, BT21 0NG.</p>
<h4>Email address</h4>
<p>info@cottage-publications.com</p>
<h4>Telephone</h4>
<p>
  <em>From Northern Ireland:</em> 028 9188 8033<br>
  <em>From Republic of Ireland:</em> 048 9188 8033<br>
  <em>From Europe and beyond:</em> +4428 9188 8033
</p>
