<table  align="center" cellpadding="0" cellspacing="0" width="600" style="border-collapse: collapse;">
  <tr>
    <td style="color: #003300; font-size: 18px; padding: 10px 0 10px 10px;" bgcolor="#fffef5">
      Dear <%= @user_name %>
    </td>
  </tr>
    <tr>
    <td style="color: #fffef5; font-size: 18px; padding: 10px 0 10px 10px;" bgcolor="#29602b">
    Your order will be sent to you on the next working day.
    </td>
  </tr>
  <tr>
    <td style="color: #003300; font-size: 18px; padding: 30px 0 30px 10px;" bgcolor="#fffef5">
      Kind regards, The team at <%= @appname %>!
    </td>
  </tr>
</table>
