    <table align="center" cellpadding="0" cellspacing="0" width="600" style="border-collapse: collapse;">
      <tbody>
        <tr>
          <td style="color: #003300; font-size: 18px; padding: 10px 0 10px 10px;" bgcolor="#fffef5"><h2>Welcome!</h2></td>
        </tr>
        <tr>
          <td style="color: #fffef5; font-size: 18px; padding: 10px 0 10px 10px;" bgcolor="#29602b"><p>Thank you for signing up with <%= @appname %></p></td>
        </tr>
        <tr>
          <td style="color: #003300; font-size: 18px; padding: 10px 0 10px 10px;" bgcolor="#fffef5"><p><strong>Best wishes, <br> The team at <%= @appname %></strong></p></td>
        </tr>
      </tbody>
    </table>
