// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$font-body: 'Merriweather', serif;
$font-header: 'Raleway', sans-serif;
$dark-green: #030;
$cream: #fffef5;
$mid-green: #29602b;
$border-thick: 2px solid $dark-green;
$border-thin: 1px solid $dark-green;

#product_table {
  padding:10px;
}

#product_table_inner {

  border: $border-thick;
  padding: 20px;
  h1, #product_description {
    height: 130px;
    line-height: 1.2em;
  }

  .img-responsive {
    margin:0  auto;
  }

  a {
    border-radius: 2px;
    transition: background 0.5s, color 0.5s;
    &:hover, :active {
      background-color: $mid-green;
      color: $cream;
    }
    &:visited {
      color: $dark-green;
    }
  }

  #product_price {
    margin-bottom: 10px;
  }
}

// FORM FIELDS

.product-form {
  margin: 0 auto;
  width: 50%;
}

.img-responsive {
  margin: 0 auto;
}
.actions input {
  border-radius: 2px;
  transition: background 0.5s, color 0.5s;
  &:hover, :active {
    background-color: $mid-green;
    color: $cream;
  }
  &:focus {
    outline: none;
    border: 1px solid $mid-green;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(41,96,43,.6);
  }
}

.row a {
  border-radius: 2px;
  transition: background 0.5s, color 0.5s;
  &:hover, :active {
    background-color: $mid-green;
    color: $cream;
  }
  &:focus {
    outline: none;
    border: 1px solid $mid-green;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(41,96,43,.6);
  }
}

@media only screen and (max-width: 767px)  {
  .product_info {
    padding-top: 30px;
    text-align: center;
  }
}
